/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  /* font-family: "Roboto"; */
  font-family: "Quicksand";
  color: #000000;
}
.navbar {

  display: flex;
  align-items: center;
  /* max-width: 600px; */
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background: #5297FF;
}
.navbar h1 {
  /* color: #f1356d; */
  color: #000000;
}
.navbar .link {
  position: absolute;
  right: 50px;
  /* width: 200px; */
}

/* .navbar .vendor-link {
  position: absolute;
  right: 50px;
  width: 390px;
}

.navbar .admin-link {
  position: absolute;
  right: 50px;
  width: 582px;
} */

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 0px;
  color: #ffffff;
}
.navbar a:hover {
  /* color: #f1356d; */
  color: #000000;
}
.content {
  /* max-width: 600px; */
  max-width: auto;
  margin: 40px auto;
  padding: 20px;
}

/* Login */
.login {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
.login label {
  text-align: left;
  display: block;
}
.login h2 {
  font-size: 20px;
  /* color: #f1356d; */
  color: #000000;
  margin-bottom: 0px;
  text-align: left;
}

.login p {
  /* color: #f1356d; */
  color: #000000;
  margin-bottom: 30px;
  width: auto;
  text-align: left;
  font-size: 12px;
}

/* .login .register-button {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
  color: #fff;
} */

.home, .cart {
  /* max-width: 1400px; */
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.image-container {

  display: flex;
  align-items: center;
  justify-content:center;

}

body {
  font-family: "Quicksand";
}

h1, h2, h3 {margin: 0.5rem 0;

}

h1{
  font-size:1.5rem;
}

h2{
  font-size:1.2rem;
}

h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}



.rowBasket {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex:1;
}

.col-2 {
  flex:2
}



.block {
  background-color: #e0e0e0;
  padding:1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center {
  align-items: center;
}

img.small { 
  max-height: 8rem;
}

img.wrap { 
  height: 15%;
  width: 15%;
  border-radius:40%;
}

img.smallest { 
  height: 50px;
  width: 50px;
  
}

img.icon {
  max-height: 8rem;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  color: #ffffff;
  border-radius: 0.5rem;
  border: 0.1rem;
  background-color: #5297FF;
  cursor: pointer;
}

button.add {
  background-color: #186d34;
  width: 1.5rem;
}

button.edit {
  background-color: #b2b748;
  width: 1.5rem;
}

button.remove {
  background-color: #f04040;
  width: 1.5rem;
}

button.orders {
  background-color: #5297FF;
  border: none;
  width: 1.5rem;
}

button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}

button.block {
  display: block;
  width: 95%;
  border: 10px;
  background-color: #5297FF;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.text-right {
text-align: right;

}

.text-left {
  text-align: left;
}

/* AddProduct */
.addProduct {
  margin-top: 0;
  max-width: 600px;
  margin: 0 auto;
  flex: auto;
  text-align: center;
  padding-left: 0%;
}
/* .addProduct label {
  text-align: left;
  display: block;
} */
.addProduct h2 {
  font-size: 20px;
  /* color: #f1356d; */
  color: #000000;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 13%;
}

.addProduct p {
  /* color: #f1356d; */
  color: #000000;
  /* margin-bottom: 30px; */
  width: auto;
  text-align: left;
  font-size: 12px;
  margin-left: 13%;
  margin-bottom: 10px;
}

.addProduct form {
  /* color: #f1356d; */
  color: #000000;
  /* margin-bottom: 30px; */
  width: auto;
  text-align: left;
  font-size: 12px;
  margin-left: 13%;
}

.addProduct .submit-btn {
  background-color: #5297FF;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.addProduct .disabled-btn {
  background-color: #5297ff93;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.addProduct .back-btn {
  background-color: #5297FF;
  margin-left: 0.8rem;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.mbutton {
  border: 0;
  outline: 0;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #4267b2;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index:1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  
  transition: 0.3s ease-in-out;

  
}

.active {
  opacity:1;
  visibility: visible;
  position: fixed;
  z-index:1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  
  transition: 0.3s ease-in-out;
}

.modal-content {
  width: 500px;
  margin: 15% auto;
  background-color: #fff;
  border-radius:5px;
  position: relative;
  transition: inherit;
  opacity:0;
  visibility:hidden;
  transform:translateY(-100px);
}

.active-content {
  opacity:1;
  visibility: visible;
  width: 500px;
  margin: 15% auto;
  background-color: #fff;
  border-radius:5px;
  position: relative;
  transition: inherit;
  transform:translateY(0);
}

.modal-header {
  padding: 20px 20px;
}

.modal-body {
  padding: 16px 20px;
}

.modal-footer {
  padding: 16px 20px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #7f7f7f;
}

.ordersBoxgreen {
  background-color: #07ff7793;
  box-shadow: 2px -8px 0px 0px rgba(0,0,0,0.1);
  width: 500px;
  margin: 2% auto;
  padding: 6px 10px;
  cursor:pointer;
  transition: all 0.7s ease;
  position: relative;
  text-align: 'center';
}

.ordersBoxblue {
  background-color: #5297ff93;
  box-shadow: 2px -8px 0px 0px rgba(0,0,0,0.1);
  width: 500px;
  margin: 2% auto;
  padding: 6px 10px;
  cursor:pointer;
  transition: all 0.7s ease;
  position: relative;
  text-align: 'center';
}

.ordersHeader {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}

.cartText {
  padding: 20px 20px;
  position: absolute;
  top: 8px;
}

.products {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-card {
  flex-basis: 29%;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}



.product-image img {
  max-width: 100%;
  height:150px;
  transition: .5s ease;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align:center;
}



.product-card:hover .middle {
  opacity:1;
}

.product-text {
  background-color: #186d34;
  color: white;
  font-size: 16px;
  padding:16px 32px;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.containers {
  padding:5px;
}

.product-card-vendor {
  text-align: center;
  flex-basis: 40%;
  padding: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.products-vendor {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.img.vendor-orders {
  border: 1 px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

button.rightgreen {
  flex: 0 0 50%;
  padding-left: 50px;
  padding-right: 50px;
  display:none;
}

button.rightblue {
  flex: 0 0 50%;
  padding-left: 50px;
  padding-right: 50px;
  
}



/* .login input, .login textarea, .login select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
} */
/* .login-button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */